# Edit dotfiles
alias dotfiles="atom ~/.dotfiles"

# Quick port tunneling
dbtunnel () { ssh -L 33060:127.0.0.1:3306 $@ -f -N }

# Quickly run gulp commands
alias gw="gulp watch"
alias gu="gulp uploadsync"

# Git stuff
alias gits="git status --short"
alias gitd="git diff"
alias gitf="git fetch --all"
alias gitl="tig"

# Docker stuff
alias dcom="docker-compose"

# Prettier
alias prettyall="find ./src/**/*.js | xargs ./node_modules/prettier/bin/prettier.js --write --single-quote --trailing-comma es5"

# Detect which ls flavor is in use
if ls --color > /dev/null 2>&1; then # GNU 'ls'
	colorflag="--color"
else # OS X ls
	colorflag="-G"
fi

# Always use color output for ls
alias ls="command ls ${colorflag}"

# List all files colorized in long format, including dot files
alias la="ls -laF ${colorflag}"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Arch linux specific commands
if [[ $os == "Linux" ]]; then
	# Update all the things
	alias update="echo 'General & System Packages'; pacaur -Syu; echo 'Atom Packages'; apm update"

	# Misc system helpers
	alias open="gio open"

	# Open chrome in borderless window
	chromeapp() {
		chromium --app="$1"
	}
fi

# MacOS specific commands
if [[ $os == "Darwin" ]]; then
	# Update all the things
	alias update="echo 'Brew Formulas'; brew update; brew upgrade; echo 'Node Packages'; npm update -g; echo 'Atom Packages'; apm update; echo 'Mac App Store'; mas upgrade"

	# Flush dns cache
	alias flushcache="sudo dscacheutil -flushcache;sudo killall -HUP mDNSResponder; echo 'DNS Cache Cleared'"

	# Add dock separator
	alias spacer="defaults write com.apple.dock persistent-apps -array-add '{tile-data={}; tile-type=\"spacer-tile\";}'; killall Dock"

	# Change directory to last open finder window
	alias cdf="cd \"\`osascript -e 'tell app \"Finder\" to POSIX path of (insertion location as alias)'\`\""

	# Recursively delete .DS_Store files
	alias dsdestroy="find . -name '*.DS_Store' -type f -ls -delete"
fi

# Get private aliases file if it exists
if [ -f ~/.dotfiles/private/.aliases ]; then
	source ~/.dotfiles/private/.aliases
fi
