[user]
	name = Daniel Waltz
	email = danielbwaltz@gmail.com
	signingKey = danielbwaltz@gmail.com
[branch]
	sort = -committerdate
[column]
	ui = auto
[commit]
	gpgSign = true
	verbose = true
[core]
	editor = code --wait --new-window
	fsmonitor = true
	sshCommand = ssh -i ~/.ssh/personal_ed25519 -o IdentitiesOnly=yes
	untrackedCache = true
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[fetch]
	all = true
	prune = true
	pruneTags = true
[gpg]
	program = /opt/homebrew/bin/gpg
[help]
	autocorrect = prompt
[init]
	defaultBranch = main
[merge]
	conflictstyle = zdiff3
	tool = code
[mergetool "code"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[pull]
	ff = only
[push]
	autoSetupRemote = true
	default = simple
	followTags = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[rerere]
	autoupdate = true
	enabled = true
[tag]
	gpgSign = true
  sort = version:refname
[includeIf "gitdir:~/Projects/moser/"]
	path = ./.dotfiles/.gitconfig-moser
