{{- if eq .chezmoi.os "darwin" }}
# Amazon Q pre block. Keep at the top of this file.
[[ -f "${HOME}/Library/Application Support/amazon-q/shell/zshrc.pre.zsh" ]] && builtin source "${HOME}/Library/Application Support/amazon-q/shell/zshrc.pre.zsh"
{{- end }}

### antidote
source ~/.local/share/antidote/antidote.zsh
antidote load

if [[ -o interactive ]]; then
  fastfetch
fi

### aliases
function update() {
  echo '\e[32m\ue5fc Dotfiles'
  chezmoi update

  {{- if eq .chezmoi.os "linux" }}
  {{- if eq .chezmoi.osRelease.id "debian" }}
  echo '\e[32m\ue77d Debian'
  sudo apt update && sudo apt upgrade
  {{- end }}

  {{- if eq .chezmoi.osRelease.id "cachyos" }}
  echo '\e[32m\ue732 CachyOS'
  paru -Syu
  {{- end }}
  {{- end }}

  {{- if eq .chezmoi.os "darwin" }}
  echo '\e[32m\uf0fc Brew'
  brew update && brew upgrade && brew upgrade --cask

  echo '\e[32m\ue711 Mac'
  mas upgrade
  {{- end }}

  echo '\e[32m\uf1b2 Mise'
  mise plugins update
  mise install bun@latest && mise use -g bun@latest
  mise install deno@latest && mise use -g deno@latest
  mise install node@latest && mise use -g node@latest
  mise install ruby@latest && mise use -g ruby@latest
}
function cleanup() {
  {{- if eq .chezmoi.os "linux" }}
  {{- if eq .chezmoi.osRelease.id "debian" }}
  echo '\e[32m\ue77d Debian'
  sudo apt autoremove --purge
  {{- end }}

  {{- if eq .chezmoi.osRelease.id "cachyos" }}
  echo '\e[32m\ue732 CachyOS'
  paru -Rsn $(paru -Qtdq)
  paccache -r
  {{- end }}
  {{- end }}

  {{- if eq .chezmoi.os "darwin" }}
  echo '\e[32m\uf0fc Brew'
  brew cleanup
  {{- end }}

  echo '\e[32m\uf1b2 Mise'
  mise prune
}
alias -- bump='bunx taze@latest -rwiI'
alias -- bumpall='bunx taze@latest major -rwiu && git commit -am "chore: update deps"'
alias -- c='clear'
alias -- dotfiles='chezmoi edit'
alias -- ls='eza -al --color=always --group-directories-first --icons=always' # preferred listing
alias -- la='eza -a --color=always --group-directories-first --icons=always'  # all files and dirs
alias -- ll='eza -l --color=always --group-directories-first --icons=always'  # long format
alias -- lt='eza -aT --color=always --group-directories-first --icons=always' # tree listing
alias -- l.="eza -a | grep -e '^\.'"                                          # show only dotfiles
alias -- lint='bunx oxlint@latest --tsconfig tsconfig.json --import-plugin --jsdoc-plugin --vitest-plugin --react-perf-plugin --promise-plugin --node-plugin'
alias -- pretty='bunx prettier@latest --write --ignore-unknown -- "**/*" "!**/package-lock.json" "!**/yarn.lock" "!**/pnpm-lock.yaml" "!**/bun.lock" "!**/deno.lock" "!**/dist/**" "!**/.output/**" "!**/build/**" "!**/out/**"'
alias -- rmlock='rm -rf **/node_modules(N) **/package-lock.json(N) **/yarn.lock(N) **/pnpm-lock.yaml(N) **/bun.lock(N) **/bun.lockb(N) **/deno.lock(N)'
alias -- rmdist='rm -rf **/dist(N) **/.output(N) **/build(N) **/out(N)'
alias -- src='chezmoi apply && source ~/.zshrc'
{{- if eq .chezmoi.os "darwin" }}
alias -- spacer='defaults write com.apple.dock persistent-apps -array-add '"'"'{tile-type=\"spacer-tile\";}'"'"' && killall Dock'
alias -- spacermini='defaults write com.apple.dock persistent-apps -array-add '"'"'{tile-type=\"small-spacer-tile\";}'"'"' && killall Dock'
alias -- dsdestroy='find . -name '"'"'*.DS_Store'"'"' -type f -ls -delete'
{{- end }}

### init
eval "$(starship init zsh)"
export EDITOR="code -nw"
export OS="`uname`"
export GPG_TTY=$(tty)
export PROMPT_COMMAND="history -a; $PROMPT_COMMAND"
PATH="$PATH:""$HOME"'/.cargo/bin:'"$PATH"
[[ -n $GHOSTTY_RESOURCES_DIR ]] && source "$GHOSTTY_RESOURCES_DIR"/shell-integration/zsh/ghostty-integration
[[ "$TERM_PROGRAM" == "vscode" ]] && . "$(code --locate-shell-integration-path zsh)"

{{- if eq .chezmoi.os "darwin" }}
# Amazon Q post block. Keep at the bottom of this file.
[[ -f "${HOME}/Library/Application Support/amazon-q/shell/zshrc.post.zsh" ]] && builtin source "${HOME}/Library/Application Support/amazon-q/shell/zshrc.post.zsh"
{{- end }}
