{{- $config := includeTemplate "profile-data" . | fromJson -}}
{{- $default := get $config.profiles $config.default_profile -}}
[user]
	name = {{ $default.git_name | quote }}
	email = {{ $default.email | quote }}
	signingKey = {{ $default.signing_key | quote }}
[branch]
	sort = -committerdate
[column]
	ui = auto
[commit]
	gpgSign = true
	verbose = true
[core]
	editor = vim
	fsmonitor = true
	untrackedCache = true
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[fetch]
	all = true
	prune = true
	pruneTags = true
[feature]
	experimental = false
	manyFiles = true
[help]
	autocorrect = prompt
[init]
	defaultBranch = main
[merge]
	conflictstyle = zdiff3
	tool = vimdiff
[pull]
	ff = only
[push]
	autoSetupRemote = true
	default = simple
	followTags = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[rerere]
	autoupdate = true
	enabled = true
[tag]
	gpgSign = true
	sort = version:refname
[gpg]
	program = gpg
{{- range $id := $config.git_profiles }}
{{- $profile := get $config.profiles $id }}
{{- $directory := $profile.directory | replace "\\" "\\\\" | replace "*" "\\*" | replace "?" "\\?" | replace "[" "\\[" | replace "]" "\\]" }}
[includeIf {{ printf "gitdir:%s/" (trimSuffix "/" $directory) | quote }}]
	path = {{ printf "~/.config/git/chezmoi-profiles/%s.gitconfig" $id | quote }}
{{- end }}
