[user]
	name = Daniel Waltz
	email = danielbwaltz@gmail.com
	signingKey = danielbwaltz@gmail.com
[branch]
	sort = -committerdate
[column]
	ui = auto
[commit]
	gpgSign = true
	verbose = true
[core]
	editor = vim
	fsmonitor = true
	sshCommand = ssh -o IdentitiesOnly=yes
	untrackedCache = true
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[fetch]
	all = true
	prune = true
	pruneTags = true
[feature]
  experimental = true
	manyFiles = true
[help]
	autocorrect = prompt
[init]
	defaultBranch = main
[merge]
	conflictstyle = zdiff3
	tool = vimdiff
[pull]
	ff = only
[push]
	autoSetupRemote = true
	default = simple
	followTags = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[rerere]
	autoupdate = true
	enabled = true
[tag]
	gpgSign = true
	sort = version:refname
{{- if eq .chezmoi.os "darwin" }}
[gpg]
	program = /opt/homebrew/bin/gpg
{{- end }}
{{- if eq .chezmoi.hostname "themacbook" }}
[includeIf "gitdir:~/Projects/moser/"]
	path = ~/.gitconfig-moser
{{- end }}
