#!/usr/bin/env bash
if command -v apt-get &> /dev/null; then
  sudo apt-get update
  for i in {{ range .packages.shared }}{{ . | quote }} {{ end }}{{ range .packages.apt }}{{ . | quote }} {{ end }}; do
    sudo apt-get install -y "$i"
  done
fi

if command -v dnf &> /dev/null; then
  sudo dnf install -y --best --skip-broken {{ range .packages.shared }}{{ . | quote }} {{ end }}{{ range .packages.dnf }}{{ . | quote }} {{ end }}
fi

if command -v pacman &> /dev/null; then
  sudo pacman -S --needed --noconfirm {{ range .packages.shared }}{{ . | quote }} {{ end }}{{ range .packages.pacman }}{{ . | quote }} {{ end }}
fi

# Include Brewfile hash to run when file changes {{ include "dot_Brewfile.tmpl" | sha256sum }}
brew bundle --file="$HOME/.Brewfile"

mise install
